
html, body{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  width: 100% ;
  overflow-x: hidden;
}
/*formatação de input*/
input{
  border-radius: 10px;
  width: auto;
  text-align: center;

}
footer {
  background-color: #ad1e42;
  color: #fff;
  text-align: left;
  min-height: 5vh;
  padding: 10px;
}
